[submodule ".registry"]
	path = .registry
	url = https://github.com/glycoverse/glycoverse.r-universe.dev
	branch = HEAD
[submodule "glyanno"]
	path = glyanno
	url = https://github.com/glycoverse/glyanno
	branch = v0.1.0
[submodule "glyclean"]
	path = glyclean
	url = https://github.com/glycoverse/glyclean
	branch = v0.10.1
[submodule "glycoverse"]
	path = glycoverse
	url = https://github.com/glycoverse/glycoverse
	branch = v0.2.3
[submodule "glydb"]
	path = glydb
	url = https://github.com/glycoverse/glydb
	branch = v0.3.1
[submodule "glydet"]
	path = glydet
	url = https://github.com/glycoverse/glydet
	branch = v0.9.0
[submodule "glydraw"]
	path = glydraw
	url = https://github.com/glycoverse/glydraw
	registered = false
[submodule "glyenzy"]
	path = glyenzy
	url = https://github.com/glycoverse/glyenzy
	branch = v0.4.1
[submodule "glyexp"]
	path = glyexp
	url = https://github.com/glycoverse/glyexp
	branch = v0.12.3
[submodule "glymotif"]
	path = glymotif
	url = https://github.com/glycoverse/glymotif
	branch = v0.12.0
[submodule "glyparse"]
	path = glyparse
	url = https://github.com/glycoverse/glyparse
	branch = v0.5.3
[submodule "glyread"]
	path = glyread
	url = https://github.com/glycoverse/glyread
	branch = v0.8.4
[submodule "glyrepr"]
	path = glyrepr
	url = https://github.com/glycoverse/glyrepr
	branch = v0.9.0
[submodule "glysmith"]
	path = glysmith
	url = https://github.com/glycoverse/glysmith
	branch = v0.7.0
[submodule "glystats"]
	path = glystats
	url = https://github.com/glycoverse/glystats
	branch = v0.6.3
[submodule "glyvis"]
	path = glyvis
	url = https://github.com/glycoverse/glyvis
	branch = v0.5.0
